
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SISASISA</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <style type="text/css">
      .navbar-inverse{
        background-color: #c0fdff;
      }
    </style>
</head>
<body>
   <!-- nav -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="index.html">HOME</a></li>
            <li><a href="#">메뉴1</a></li>
            <li><a href="#">메뉴2</a></li>
            <li><a href="#">메뉴3</a></li>
          </ul>
        </div>
      </div>
    </nav>
   <br>
   <br>
   <br>
   <!-- nav end -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
   <!-- tab start -->
            <ul class="nav nav-tabs">
              <li><a class="nav-link" data-toggle="tab" href="#steay">STEADY</a></li>
              <li class="active"><a class="nav-link" data-toggle="tab" href="#hot">HOT</a></li>
              <li><a class="nav-link" data-toggle="tab" href="#my">MY</a></li>
            </ul>
   <!-- tab end -->
            <div class="tab-content">
              <div class="tab-pane fade" id="steay">
                <p>STEADY TERMS</p>
              </div>
              <div class="tab-pane fade in active" id="hot">
                <p>HOT TERMS</p>
              </div>
              <div class="tab-pane fade" id="my">
                <p>MY TERMS</p>
              </div>
            </div>
        </div>
      </div>
    </div>

</body>
</html>
