{% extends 'base.html' %}
{% block container %}

<!-- contents start -->
<script type="text/javascript">
    $(function () {
        $('#hot_li').removeClass("active");
        $('#steady_li').addClass("active");
        $(".modaldata").click(function () {
            var wordvalue = $(this).text();
            var splitindex = wordvalue.indexOf(".")
            var onlyword = wordvalue.slice(splitindex+1)
            var word = onlyword.trim()
            $(".modal-header .modalword").text(word);
            var filepath = '/static/wordCloud/wordCloud_'+word+'.png'
            var img = document.getElementById('wordCloud');
            img.setAttribute('src',filepath)
            $.ajax({
                url:'/findMeaning',
                method :'POST',
                data: {
                    word: word
                },
                success: function(data){
                    {#alert(data['word'])#}
                    $('#meaning').text(data['word'])
                }
            })
        })
    });
</script>
<div class="row maincontent">
    <div class="col-lg-2"></div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
        <div class="tab-content">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th><h4>STEADY 시사용어</h4></th>
                        <th style="text-align: right;">
                            <div class="dropdown">
                              <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">카테고리 선택
                              <span class="caret"></span></button>
                              <ul class="dropdown-menu">
                                <li><a href="#">사회</a></li>
                                <li><a href="#">경제</a></li>
                                <li><a href="#">IT</a></li>
                                <li><a href="#">문화</a></li>
                              </ul>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                {%  for w in words %}
                    <tr>
                        <td>
                            <a class="modaldata resultword" data-toggle="modal" data-target="#ssssmodal" data-id="dataidtest">
                                <h5>{{forloop.counter}}. {{ w }}</h5>
                            </a>
                        </td>
                        <td style="text-align: right;">
                            <a href="#"><span class="glyphicon glyphicon-star gray-star"></span></a>
                        </td>
                    </tr>
                {% endfor %}
                    <tr style="text-align: center;"><td colspan="2"><h5>더보기</h5></td></tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>
<!-- Modal1 -->
<div class="modal fade" id="ssssmodal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div>
                    <span class="modal-title modalword" id="wordvalue"></span>&nbsp&nbsp
                    <a href="#"><span class="glyphicon glyphicon-star gray-star"></span></a>
                </div>
            </div>
            <div class="modal-body">
                <p>
                <div id="meaning"></div>
                </p>
                <p>
                    <b>연관어</b><br>
                    <img id="wordCloud" style="width: 100%;">
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal2 -->
<div class="modal fade" id="removemodal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">시사용어 삭제</h4>
            </div>
            <div class="modal-body">
                <p>
                    스크랩 목록에서 시사용어를 삭제하시겠습니까?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">확인</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>

<!-- contents end -->
{% endblock %}
