{% extends 'base.html' %}
{% block container %}
{%  load socialaccount %}
{%  providers_media_js %}

<!-- contents start -->
<script type="text/javascript">
    $(function () {
        $(".modaldata").click(function () {
            var wordvalue = $(this).text();
            var splitindex = wordvalue.indexOf(" ")
            var onlyword = wordvalue.slice(splitindex)
            $(".modal-header .modalword").text(onlyword);
        })
    });
</script>
<div class="message">
    {{ msg }}
</div>
<div class="row logincontent">
  <div class="col-xs-1 col-sm-4 col-md-4 col-lg-4"></div>
  <div class="col-xs-10 col-sm-4 col-md-4 col-lg-4">
    <form action="#">
      <input type="hidden" name="next" value="{{ next }}">
      <div class="loginset">
          <div class="form-group loginform">
            <label for="memberID" class="screen_out">Email address:</label>
            <input type="email" class="form-control" id="memberid" placeholder="ID">
          </div>
          <div class="form-group loginform">
            <label for="memberPW" class="screen_out">Password:</label>
            <input type="password" class="form-control" id="memberpw" placeholder="PW">
          </div>
      </div>
      <div class="checkbox">
        <label><input type="checkbox">로그인 상태 유지</label>
      </div>
      <button type="submit" class="btn loginbtn">로그인</button>
    </form>
    <div class="naverlogin">
        <a href="{% provider_login_url 'naver' %}"><img src="/static/naver_login2.PNG" style="width: 50%;"></a>
        <a href="{% provider_login_url 'google' %}"><img src="/static/google_login.png" style="width: 48%;"></a>
    </div>
  </div>
  <div class="col-xs-1 col-sm-4 col-md-4 col-lg-4"></div>
</div>

<!-- contents end -->
{% endblock %}
