{% extends 'base.html' %}
{% load static %}
{% block container %}
{% load searchWord %}

<!-- contents start -->
<script type="text/javascript">
    $('.nav-tabs li').removeClass("active");
    $('#hot_li').addClass("active");
</script>
<input type="hidden" id="user" value="{{ user.email }}">
<div class="row maincontent">
    <div class="col-lg-2"></div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
        <div>
{% if notWord %}
            <h4>{{ notWord }}에 대한 검색결과가 없습니다.</h4>
{% else %}
            <h4>{{ keyword }} 검색 결과</h4>
{% endif %}
            <hr class="boldhr"/>
        </div>
    {% if equalWord %}
         <ul class="list-group">
        {% for ew in equalWord %}
          <li class="list-group-item">
            <dl>
                <dt>
                    <a class="modaldata resultword" data-toggle="modal" data-target="#ssssmodal" data-id="dataidtest" style="color: #2E75B6;">
                        <h5>{{ ew.word}}</h5>
                    </a>
                </dt>
                <dd class="resultpreview">{{ ew.meaning | addCss:keyword | slice:":109" }}...</dd>
            </dl>
          </li>
         {% endfor %}
        </ul>
    {% endif %}
    {% if inWord%}
         <ul class="list-group">
        {% for iw in inWord %}
          <li class="list-group-item">
            <dl>
                <dt>
                    <a class="modaldata resultword" data-toggle="modal" data-target="#ssssmodal" data-id="dataidtest" style="color: #2E75B6;">
                        <h5>{{ iw.word }}</h5>
                    </a>
                </dt>
                <dd class="resultpreview">{{ iw.meaning | addCss:keyword | slice:":109" }}...</dd>
            </dl>
          </li>
        {% endfor %}
        </ul>
    {% endif %}
    {% if meaningResult %}
        <ul class="list-group">
        {% for key, value in meaningResult %}
          <li class="list-group-item">
            <dl>
                <dt>
                    <a class="modaldata resultword" data-toggle="modal" data-target="#ssssmodal" data-id="dataidtest" style="color: #2E75B6;">
                        <h5>{{ key }}</h5>
                    </a>
                </dt>
                <dd class="resultpreview">{{ value | addCss:keyword | slice:":109" }}...</dd>
            </dl>
          </li>
        {% endfor %}
        </ul>
    {% endif %}
    </div>
    <div class="col-lg-2"></div>
</div>

<!-- Modal1 -->
<div class="modal fade" id="ssssmodal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div>
                    <span class="modal-title modalword" id="wordvalue"></span>&nbsp&nbsp
                    <a href="#"><span id="scrap" class="glyphicon glyphicon-star gray-star"></span></a>
                </div>
            </div>
            <div class="modal-body">
                <p>
                <div id="meaning"></div>
                </p>
                <p>
                    <b>연관어</b><br>
                    <span id="wordCloudMsg"></span>
                    <img id="wordCloud" style="width: 100%;">
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'word/js/words.js' %}"></script>
<!-- contents end -->
{% endblock %}
