{% extends 'base.html' %}
{% load static %}
{% block container %}

<!-- contents start -->
<script type="text/javascript">
    $('.nav-tabs li').removeClass("active");
    $('#steady_li').addClass("active");
</script>
<input type="hidden" id="user" value="{{ user.email }}">
<div class="row maincontent">
    <div class="col-lg-2"></div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
        <div class="tab-content">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th><h4>STEADY 시사용어</h4></th>
                        <th style="width: 10%;">
                            <div class="dropdown">
                              <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown"><span id="categoryDefault">카테고리 선택</span>
                              <span class="caret"></span></button>
                              <ul class="dropdown-menu">
                                <li><a href="/steady?category=사회">사회</a></li>
                                <li><a href="/steady?category=경제">경제</a></li>
                                <li><a href="/steady?category=IT">IT</a></li>
                                <li><a href="/steady?category=문화">문화</a></li>
                              </ul>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody id="list">
                {%  for w in words %}
                    <tr>
                        <td colspan="2">
                            <a class="modaldata resultword" data-toggle="modal" data-target="#ssssmodal" data-id="dataidtest">
                                <h5>{{forloop.counter}}. {{ w }}</h5>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tbody id="limitBtnTable">
                <tr style="text-align: center;"><td colspan="2"><h5 id="limit">더보기</h5></td></tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>

<!-- Modal1 -->
<div class="modal fade" id="ssssmodal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div>
                    <span class="modal-title modalword" id="wordvalue"></span>&nbsp&nbsp
                    <a href="#"><span id="scrap" class="glyphicon glyphicon-star gray-star"></span></a>
                </div>
            </div>
            <div class="modal-body">
                <p>
                <div id="meaning"></div>
                </p>
                <p>
                    <b>연관어</b><br>
                    <span id="wordCloudMsg"></span>
                    <img id="wordCloud" alt="워드클라우드" style="width: 100%;">
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'word/js/words.js' %}"></script>
<!-- contents end -->
{% endblock %}
