{% extends 'base.html' %}
{% block container %}

<!-- contents start -->
<script type="text/javascript">
    function getParameter(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
    $(function () {
        var category = getParameter('category')
        if (category.length !== 0) {
            $('#categoryDefault').text(category)
        }
        var user = $('#user').val()
        var limit = 10

        if (category.length !== 0) {
            $('#categoryDefault').text(category)
        }

        $('.nav-tabs li').removeClass("active");
        $('#steady_li').addClass("active");

        $('#limit').click(function () {
            var list = $('#list')
            list.empty()
            limit += 40
            $.ajax({
                url: '/addSteady',
                method: 'POST',
                data: {
                    category : category,
                    limit : limit
                },
                success: function (data) {
                    var content = '';
                    var length = data.length
                    for(i=0; i<limit; i++){
                        content += '<tr>'
                        content += '<td colspan="2">'
                        content += '<a class="modaldata resultword" data-toggle="modal" data-target="#ssssmodal" data-id="dataidtest">'
                        content += '<h5>'
                        content += i+1+'. '+data[i]
                        content += '</h5><a></td></tr>'
                    }
                    if(limit === 50) {
                        $('#limitBtnTable').attr('hidden','hidden')
                    }
                    list.html(content)
                }
            })
        });

        $(".modaldata").click(function () {
            var wordvalue = $(this).text();
            var splitindex = wordvalue.indexOf(".")
            var onlyword = wordvalue.slice(splitindex+1)
            var word = onlyword.trim()
            $(".modal-header .modalword").text(word);
            var filepath = '/static/wordCloud/wordCloud_'+word+'.png'
            var files = new Image;
            files.src = filepath
            var img = document.getElementById('wordCloud');
            var req = new XMLHttpRequest()
            req.open('GET',filepath,false)
            req.send(null)
            var headers = req.status
            if (headers===200) {
                img.setAttribute('src',filepath)
            }
            else {
                img.remove()
                $('#wordCloudMsg').text('연관어 이미지가 없습니다.')
            }
            $.ajax({
                url: '/findMeaning',
                method: 'POST',
                data: {
                    word: word
                },
                async: false,
                success: function (data) {
                    $('#meaning').text(data['word'])
                    if (user.length > 0) {
                        $.ajax({
                            url: '/scrapCheck',
                            method: 'POST',
                            data: {
                                word: word
                            },
                            success: function (data) {
                                msg = data['msg']
                                if (msg === 'yes') {
                                    $('#scrap').attr('class', 'glyphicon glyphicon-star yellow-star')
                                } else {
                                    $('#scrap').attr('class', 'glyphicon glyphicon-star gray-star')
                                }
                            }
                        })
                    }
                }
            });
            $('#scrap').click(function (){
                if (user.length <= 0) {
                    alert("로그인이 필요합니다.");
                    window.location.href = 'user/login';
                } else {
                    var cls = $('#scrap').attr('class');
                    if (cls === 'glyphicon glyphicon-star gray-star') {
                        $.ajax({
                            url: '/insertScrap',
                            method: 'POST',
                            data: {
                                word: word
                            },
                            async: false,
                            success: function (data) {
                                $('#scrap').attr('class', 'glyphicon glyphicon-star yellow-star')
                            }
                        });
                    } else if (cls === 'glyphicon glyphicon-star yellow-star') {
                        $.ajax({
                            url: '/deleteScrap',
                            method: "POST",
                            data: {
                                word: word
                            },
                            async: false,
                            success: function (data) {
                                $('#scrap').attr('class', 'glyphicon glyphicon-star gray-star')
                            }
                        });
                    }
                }
            })
        })
    });
</script>
<input type="hidden" id="user" value="{{ user.email }}">
<div class="row maincontent">
    <div class="col-lg-2"></div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
        <div class="tab-content">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th><h4>STEADY 시사용어</h4></th>
                        <th style="width: 10%;">
                            <div class="dropdown">
                              <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown"><span id="categoryDefault">카테고리 선택</span>
                              <span class="caret"></span></button>
                              <ul class="dropdown-menu">
                                <li><a href="/steady?category=사회">사회</a></li>
                                <li><a href="/steady?category=경제">경제</a></li>
                                <li><a href="/steady?category=IT">IT</a></li>
                                <li><a href="/steady?category=문화">문화</a></li>
                              </ul>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody id="list">
                {%  for w in words %}
                    <tr>
                        <td colspan="2">
                            <a class="modaldata resultword" data-toggle="modal" data-target="#ssssmodal" data-id="dataidtest">
                                <h5>{{forloop.counter}}. {{ w }}</h5>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tbody id="limitBtnTable">
                <tr style="text-align: center;"><td colspan="2"><h5 id="limit">더보기</h5></td></tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>

<!-- Modal1 -->
<div class="modal fade" id="ssssmodal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div>
                    <span class="modal-title modalword" id="wordvalue"></span>&nbsp&nbsp
                    <a href="#"><span id="scrap" class="glyphicon glyphicon-star gray-star"></span></a>
                </div>
            </div>
            <div class="modal-body">
                <p>
                <div id="meaning"></div>
                </p>
                <p>
                    <b>연관어</b><br>
                    <img id="wordCloud" style="width: 100%;">
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        </div>
    </div>
</div>

<!-- contents end -->
{% endblock %}
